@import '../../atomics/interface-button/interface-button';

@import '../../core/all';
@import '../../utils/functions';

@import '../../utils/helpers/elevation';

.dropdown {
    position: relative;
    display: inline-block;

    &__content {
        position: absolute;
        z-index: 1;

        opacity: 0;
        visibility: hidden;

        background-color: var(--dropdown-background-color, var(--white));
        border-radius: var(--dropdown-border-radius, 4px);
        border: 1px solid var(--dropdown-border-color, var(--color-neutral-500));

        @extend %elevation-bordered-400;

        transition: visibility $default-transition, opacity $default-transition;

        .header {
            padding: 16px;

            font-size: rem(12);
            font-weight: 600;
            line-height: rem(16);
            color: var(--color-neutral-800);
            text-transform: uppercase;

            border-bottom: 1px solid var(--dropdown-border-color, var(--color-neutral-500));
        }

        ul {
            li {
                background-color: var(--dropdown-item-background-color, var(--white));

                a {
                    display: inline-flex;
                    align-items: center;

                    width: 100%;

                    padding: var(--dropdown-item-vertical-padding, 16px) var(--dropdown-item-horizontal-padding, 16px);

                    font-size: rem(14);
                    line-height: rem(16);
                    color: var(--dropdown-item-color, var(--color-neutral-600));

                    svg {
                        height: 16px;
                        width: 16px;

                        margin-right: 12px;
                    }
                }

                &:hover {
                    --dropdown-item-background-color: var(--color-primary-500);
                    --dropdown-item-color: var(--color-primary-100);
                }
            }

            &.others {
                border-top: 1px solid var(--dropdown-border-color, var(--color-neutral-500));
                --dropdown-item-background-color: var(--color-neutral-300);

                li {
                    &:last-child {
                        border-bottom-left-radius: var(--dropdown-border-radius, 4px);
                        border-bottom-right-radius: var(--dropdown-border-radius, 4px);
                    }
                }
            }
        }

        &.active {
            opacity: 1;
            visibility: visible;
        }

        &:not(.header) {
            > ul {
                li {
                    &:first-child {
                        border-top-left-radius: var(--dropdown-border-radius, 4px);
                        border-top-right-radius: var(--dropdown-border-radius, 4px);
                    }
                }
            }
        }

        &[data-placement='right'] {
            left: 48px;
        }

        &[data-placement='left'] {
            right: 48px;
        }
    }
}
