@import '../../core/all';

// Interface button
// ==================
.ib-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: var(--ib-button-width, 48px);
    height: var(--ib-button-height, 48px);

    border-radius: var(--ib-button-radius, 4px);

    cursor: pointer;
    transition: background-color $default-transition, color $default-transition, opacity $default-transition;


    &-primary {
        background-color: var(--ib-button-background-color, var(--white));
        color: var(--ib-button-color, var(--color-gris-700));

        &:hover {
            --ib-button-background-color: var(--ib-button-hover-background-color, var(--color-neutral-300));
            --ib-button-color: var(--ib-button-hover-color, var(--color-gris-700));
        }

        &:active {
            --ib-button-background-color: var(--ib-button-active-background-color, var(--color-primary-500));
            --ib-button-color: var(--ib-button-active-color, var(--color-primary-100));
        }
    }

    &-secondary {
        background-color: var(--ib-button-background-color, var(--color-neutral-300));
        color: var(--ib-button-color, var(--color-neutral-600));

        &:hover {
            --ib-button-background-color: var(--ib-button-hover-background-color, var(--color-neutral-300));
            --ib-button-color: var(--color-gris-700);
        }

        &:active {
            --ib-button-background-color: var(--ib-button-active-background-color, var(--color-primary-500));
            --ib-button-color: var(--color-primary-100);
        }
    }

    &-dark {
        opacity: .7;

        background-color: var(--ib-button-background-color, var(--color-gris-900));
        color: var(--ib-button-color, var(--color-neutral-500));

        &:hover, &:active {
            opacity: 1;

            --ib-button-background-color: var(--color-gris-900);
            --ib-button-color: var(--color-neutral-500);
        }
    }
}

// Switch
// ==================
.ib-switch {
    display: inline-flex;
    transition: all $default-transition;

    .ib-button {
        --ib-button-background-color: var(--color-neutral-300);
        border: 1px solid var(--color-neutral-300);
        color: var(--color-neutral-600);
        border-radius: 0;

        &:hover {
            --ib-button-background-color: var(--ib-button-hover-background-color, var(--color-neutral-300));
            --ib-button-color: var(--color-gris-700);

            border: 1px solid var(--ib-button-hover-background-color, var(--color-neutral-300));
        }

        &:active {
            --ib-button-background-color: var(--ib-button-active-background-color, var(--color-primary-500));
            --ib-button-color: var(--ib-button-active-color, var(--color-primary-100));
            border: 1px solid var(--ib-button-active-background-color, var(--color-primary-500));
        }

        &.active {
            --ib-button-background-color: var(--white);
            border: 1px solid var(--color-neutral-500);
            color: var(--ib-button-color, var(--color-gris-700));
        }

        &:first-child {
            border-top-left-radius: var(--ib-button-radius);
            border-bottom-left-radius: var(--ib-button-radius);
        }

        &:last-child {
            border-top-right-radius: var(--ib-button-radius);
            border-bottom-right-radius: var(--ib-button-radius);
        }
    }
}
