@import url('https://rsms.me/inter/inter.css');

html {
    font-family: 'Inter', sans-serif;
    font-size: 100%;

    @supports (font-variation-settings: normal) {
        font-family: 'Inter var', sans-serif;

    }
}

*, ::before, ::after {
    box-sizing: border-box;
}
