@import "../../core/color";
@import "../../utils/functions";
@import "../../utils/misc";

$colorsBtn: primary, success, danger, warning, info, gris;

.btn {
    @extend %flex-center;

    margin: 0;
    padding: 0 var(--button-horizontal-padding, 24px);

    height: var(--button-height, 48px);

    background-color: var(--button-background-color, var(--color-primary-500));

    font-size: var(--button-font-size, #{rem(16)});
    font-weight: 700;
    color: var(--button-color, var(--color-primary-100));
    text-transform: uppercase;

    border-radius: var(--button-border-radius, 4px);
    border-width: var(--button-border-width, 1px);
    border-style: var(--button-border-style, solid);
    border-color: var(--button-border-color, var(--color-primary-500));

    transition: color ease .3s, border-color ease .3s, background-color ease .3s;

    cursor: pointer;

    @each $color in $colorsBtn {
        &-#{$color} {
            --button-color: var(--color-#{$color}-100);
            --button-background-color: var(--color-#{$color}-500);
            --button-border-color: var(--button-background-color);
            --button-hover-color: var(--color-#{$color}-100);
            --button-hover-background-color: var(--color-#{$color}-400);
            --button-hover-border-color: var(--button-hover-background-color);
            --button-active-color: var(--color-#{$color}-100);
            --button-active-background-color: var(--color-#{$color}-600);
            --button-active-border-color: var(--button-active-background-color);
            --button-color-icon: var(--button-color);
            --button-hover-icon: var(--button-hover-color);

            // Variants
            // ==================
            &.btn-outline {
                --button-color: var(--color-#{$color}-500);
                --button-background-color: var(--white);
                --button-border-color: var(--color-#{$color}-500);
                --button-hover-color: var(--color-#{$color}-100);
                --button-hover-background-color: var(--color-#{$color}-400);
                --button-hover-border-color: var(--button-hover-background-color);
                --button-active-color: var(--color-#{$color}-100);
                --button-active-background-color: var(--color-#{$color}-600);
                --button-active-border-color: var(--button-active-background-color);
                --button-color-icon: var(--button-color);
                --button-hover-icon: var(--button-hover-color);
            }

            &.btn-ghost {
                --button-color: var(--color-#{$color}-500);
                --button-background-color: var(--white);
                --button-border-color: var(--button-background-color);
                --button-hover-color: var(--color-#{$color}-500);
                --button-hover-background-color: var(--color-neutral-500);
                --button-hover-border-color: var(--button-hover-background-color);
                --button-active-color: var(--color-#{$color}-100);
                --button-active-background-color: var(--color-#{$color}-600);
                --button-active-border-color: var(--button-active-background-color);
                --button-color-icon: var(--button-color);
                --button-hover-icon: var(--button-hover-color);
            }

            &.btn-link {
                text-transform: initial;
                text-decoration: underline;
                font-size: initial;

                --button-horizontal-padding: 0;
                --button-height: auto;
                --button-color: var(--color-#{$color}-500);
                --button-background-color: transparent;
                --button-border-color: transparent;
                --button-hover-color: var(--color-#{$color}-700);
                --button-hover-background-color: transparent;
                --button-hover-border-color: transparent;
                --button-active-color: var(--color-#{$color}-700);
                --button-active-background-color: transparent;
                --button-active-border-color: transparent;
                --button-color-icon: var(--button-color);
                --button-hover-icon: var(--button-hover-color);

                &:focus {
                    box-shadow: none;
                }
            }
        }
    }

    // Sizes
    // ==================
    &-small {
        --button-height: 32px;
        --button-font-size: #{rem(8)};
    }

    &-medium {
        --button-height: 40px;
        --button-font-size: #{rem(12)};
    }

    &-large {
        --button-height: 56px;
        --button-font-size: #{rem(20)};
    }

    &-block {
        width: 100%;
    }

    // Icons
    // ==================
    &-icon {
        &-left {
            svg, i {
                margin-right: 16px;
            }
        }

        &-right {
            svg, i {
                margin-left: 16px;
            }
        }

        &-left, &-right {
            &:hover {
                svg {
                    stroke: var(--button-hover-icon);
                }
                i {
                    color: var(--button-hover-icon);
                }
            }

            svg {
                width: 16px;
                height: 16px;

                stroke: var(--button-color-icon);
            }

            i {
                color: var(--button-color-icon);
            }
        }
    }


    // States
    // ==================
    &:focus {
        outline: none;
        box-shadow: 0 0 0 0.375rem rgba(203, 219, 241, .30);
    }

    &:active {
        --button-color: var(--button-active-color);
        --button-border-color: var(--button-active-border-color);
        --button-background-color: var(--button-active-background-color);
    }

    &:hover {
        --button-color: var(--button-hover-color);
        --button-border-color: var(--button-hover-border-color);
        --button-background-color: var(--button-hover-background-color);
    }

    &[disabled], &.btn-disabled {
        cursor: not-allowed;

        background-color: var(--color-neutral-500);
        border-color: var(--color-neutral-500);
        color: var(--color-neutral-600);
        --button-color-icon: var(--button-color);

        &:focus {
            box-shadow: none;
        }
    }
}
