@import "../../core/color";
@import "../../utils/functions";

$colorsBadge: primary, success, danger, warning, info, gris;

:root {
    --badge-soft-background-color: var(--color-primary-100);
    --badge-soft-color: var(--color-primary-700);

    --badge-rounded-width: 32px;
}

// Base badge (as primary by default)
// ==================
.badge {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    cursor: default;

    padding: var(--badge-vertical-padding, 8px) var(--badge-horizontal-padding, 8px);

    background-color: var(--badge-background-color, var(--color-primary-500));
    color: var(--badge-color, var(--color-primary-100));

    border-radius: var(--badge-border-radius, 4px);

    font-weight: 700;
    font-size: rem(12);
    line-height: rem(16);
}

.badge-light, %badge-light {
    --badge-background-color: var(--badge-soft-background-color);
    --badge-color: var(--badge-soft-color);
}

.badge-rounded, %badge-rounded {
    width: var(--badge-rounded-width);
    height: var(--badge-rounded-width);
    --badge-border-radius: 50%;
}

// Colors
// ==================
@each $color in $colorsBadge {
    .badge-#{$color} {
        --badge-background-color: var(--color-#{$color}-500);
        --badge-color: var(--color-#{$color}-100);

        &.badge-light {
            --badge-background-color: var(--color-#{$color}-100);
            --badge-color: var(--color-#{$color}-700);
        }
    }
}
